.card {
  display: inline-block;
  padding: 1%;
  width: 45%;
  margin: 1%;
  text-align: center;
  background-color: #cccccc;
}

.link {
  color: blue;
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.page-center {
  display: flex;
  justify-content: center;
}
